body {
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

#gridContainer {
    padding-bottom: 10px;
}

table {
    background-color: #ff0000;
    border-spacing: 1;
}

td {
    border: 1px solid #ffffff;
    border-radius: 3px;
    width: 30px;
    height: 30px;
}

span {
    color: #222;
}

#start,
#clear,
#note,
#random {
    padding: 1em;
    border-radius: 5px;
    border: none;    
    background: linear-gradient(
        to bottom right,
        #C5DEC6, #c9480c);
}


td.dead {
    background-color: transparent;
}

td.live {
    background-color: #353535;
    border-radius: 10px;
}